@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  width: 500px;
  height: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1 {
  text-align: center;
  padding-bottom: 300px;
  text-transform: uppercase;
  position:fixed
}

.relogio {
  font-size: 4em;
  align-items: center;
}

.butt {
  padding-top: 300px;
  position: fixed;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

button {
  border: none;
  background:rgb(79, 88, 90);
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.479);
  border-width:1px ;
  box-shadow: 0 0 5px black;

}

button:hover {
  cursor: pointer;
}

.pausado {
  color: red;
}
